node_modules/
.env
data/
logs/
temp/
*.sqlite
*.sqlite-wal
*.sqlite-shm
.pm2/
multimetachanger/venv/
multimetachanger/__pycache__/
multimetachanger/*.exe
multimetachanger/uploads/
multimetachanger/output/
multimetachanger/*.rar
multimetachanger/*.mp4
multimetachanger/*.jpg
multimetachanger/*.png
*.rar
.DS_Store
